<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GIA HUY MOBILE - 254 XÃ ĐÀN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <link rel="shortcut icon" type="x-icon" href="http://localhost:3000/img/LOGOVIEN.png">
    <meta property="og:image" content="http://localhost:3000/img/LOGOVIEN.png">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="http://localhost:3000/lib/animate/animate.min.css" rel="stylesheet">
    <link href="http://localhost:3000/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="http://localhost:3000/css/style.css" rel="stylesheet">
</head>

<body style="background-color: rgb(245, 245, 245);">

    <!-- Navbar Start -->
    <%- include('header') %>

        <div class="container-fluid d-flex w-100" style="background-color: rgb(245, 245, 245);">
            <section id="selling-product" class="section flex-fill w-100" style="word-wrap: break-word; padding-left: 5%; padding-right: 5%; padding-top: 2%; background-color: rgb(255, 255, 255); border-radius: 20px;">
                <div class="text-center">
                    <h3 itemprop="name" class="display-7 text-uppercase" style="font-weight: bold;">
                        <%= tieude %>
                    </h3>
                </div>
                <div class="container mb-4 pb-4">
                    <div>
                        <% content.splice(0.5).forEach((item) => { %>
                            <div class="mb-4">
                                <h6 itemprop="name" class="display-7 text-uppercase" style="font-weight: bold;">
                                    <%= item.tieude %>
                                </h6>
                                <p style="color: black">
                                    <%- item.content.replace(/\\n/g, "<br>") %>
                                </p>
                                <% if (item.img) { %>
                                    <div class="product-preview mb-3 d-flex justify-content-center">
                                        <img src="<%= item.img %>" class="sanpham w-50 h-50" alt="product image">

                                    </div>
                                    <% } %>
                            </div>
                            <% }); %>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn tn-medium btn-danger text-center mb-3" href="/">Mua Iphone Chính Hãng Tại Gia Huy Mobile</a>

                </div>
            </section>

        </div>

        <div class="container-fluid py-3">
            <h2 class="section-title1 position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-1">Blog</span></h2>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel vendor-carousel">
                        <% listBl.forEach((item)=> { %>
                            <div class="bg-light p-4" style="height: 300px;">
                                <img src="<%= item.img_blog %>" alt="">
                                <div class="text-center py-4 overflow-hidden ">
                                    <a class="h6 text-decoration-none text-truncate " href="/contentBlog/<%= encodeURIComponent(item.tieude_blog).replace(/%20/g, '-')%>" style=" word-wrap: break-word;
                                white-space: normal;
                                max-width: 100%; /* hoặc giá trị khác phù hợp */;">
                                        <%= item.tieude_blog %>
                                    </a>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products End -->


        <%- include('footer') %>


            <!-- Back to Top -->
            <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

            <!-- Các nút tin nhắn và gọi điện bám sát -->
            <div class="sticky-buttons">
                <a href="#" class="btn btn-square mb-5"><img class="anhfacezalo" id="fanpageButton" src="http://localhost:3000/img/mess.png" alt=""></a>
                <a href="#" class="btn btn-square mb-5" onclick="makeCall()"> <img class="anhfacezalo" src="http://localhost:3000/img/phone.png" alt=""></a>
            </div>

            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="http://localhost:3000/lib/easing/easing.min.js"></script>
            <script src="http://localhost:3000/lib/owlcarousel/owl.carousel.min.js"></script>

            <!-- Contact Javascript File -->
            <script src="http://localhost:3000/mail/jqBootstrapValidation.min.js"></script>
            <script src="http://localhost:3000/mail/contact.js"></script>

            <!-- Template Javascript -->
            <script src="http://localhost:3000/js/main.js"></script>
            <script src="http://localhost:3000/js/jsdetail.js "></script>

</body>

</html>