<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GIA HUY MOBILE - 254 XÃ ĐÀN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <link rel="shortcut icon" type="x-icon" href="https://www.giahuystore.com/img/LOGOVIEN.png">

    <!-- Favicon -->
    <link href="https://www.giahuystore.com/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="https://www.giahuystore.com/lib/animate/animate.min.css" rel="stylesheet">
    <link href="https://www.giahuystore.com/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="https://www.giahuystore.com/css/style.css" rel="stylesheet">
</head>

<body>
    <%- include('header') %>

        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                        <a class="breadcrumb-item text-dark" href="#">Shop</a>
                        <span class="breadcrumb-item active">Chi tiết sản phẩm</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->


        <!-- Shop Detail Start -->
        <div class="container-fluid pb-5">
            <div class="row px-xl-5">
                <div class="col-lg-5 mb-30">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner bg-light">
                            <div class="carousel-item active text-center">
                                <img class="w-90 h-90" src="data:image/jpeg;base64, <%= mangjson.spjson.image %>" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 h-auto mb-30">
                    <div class="h-100 bg-light p-30">

                        <h3>
                            <%= mangjson.spjson.name %>
                        </h3>
                        <div class="d-flex mb-3">
                            <div class="text-primary mr-2">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star-half-alt text-primary mr-1"></small>
                            </div>
                            <small class="pt-1">(95 Reviews)</small>
                        </div>
                        <h3 class="font-weight-semi-bold mb-4 giamay">
                            <%= mangjson.spjson.price %>
                        </h3>
                        <p class="mb-4">
                            <%= mangjson.spjson.content %>
                        </p>
                        <div class="d-flex mb-4">
                            <strong class="text-dark mr-3">Loại Máy:</strong>
                            <form>
                                <% mangjson.mangloai.forEach((item,index)=> { %>
                                    <div class="custom-control custom-control-inline">
                                        <input type="checkbox" name="myCheckbox" id="myCheckbox<%= index %>" data-price="<%= item.price %>" data-index="<%= index %>" class="inputloai" id="color-1">
                                        <label class="custom-control-label" for="color-1"><%= item.name %></label>
                                        <label style="display: none;" for="color-1" id="price<%= index %>"><%= item.price %></label>

                                    </div>
                                    <% }); %>
                            </form>
                        </div>
                        <div class="d-flex align-items-center mb-4 pt-2">
                            <button class="btn btn-primary px-1 mr-3" style="height: 60px; width: 300px; border-radius: 20px;" onclick="mess()">Nhắn tin Trực tiếp với Fanpage ngay bây giờ để đặt hàng</button>
                            <button class="btn btn-primary1 px-1" style="height: 60px; width: 300px;border-radius: 20px;" onclick="makeCall()">Gọi điện Trực tiếp cho Cửa hàng để đặt hàng</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="bg-light p-30">
                        <div class="nav nav-tabs mb-4">
                            <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Mô tả</a>
                            <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Thông tin</a>
                            <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Đánh giá (3)</a>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-pane-1">
                                <h4 class="mb-3">Mô tả sản phẩm</h4>
                                <div id="content">
                                    <p class="collapsed">
                                        <%= mangjson.spjson.thongtin %>
                                    </p>
                                    <a href="#" id="toggleButton" style="color: red;">Xem thêm</a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-pane-2">
                                <h4 class="mb-3">Thông tin sản phẩm</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item px-0">
                                                Màn hình:
                                                <%= mangjson.spjson.manhinh %>
                                            </li>
                                            <li class="list-group-item px-0">
                                                Chip:
                                                <%= mangjson.spjson.chip %>
                                            </li>
                                            <li class="list-group-item px-0">
                                                Ram:
                                                <%= mangjson.spjson.ram %>
                                            </li>
                                            <li class="list-group-item px-0">
                                                Dung lượng:
                                                <%= mangjson.spjson.dungluong %>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item px-0">
                                                Camera sau:
                                                <%= mangjson.spjson.camera %>
                                            </li>
                                            <li class="list-group-item px-0">
                                                Pin:
                                                <%= mangjson.spjson.pinsac %>
                                            </li>
                                            <li class="list-group-item px-0">
                                                Cổng sạc:
                                                <%= mangjson.spjson.congsac %>
                                            </li>
                                            <li class="list-group-item px-0">
                                                Hãng:
                                                <%= mangjson.spjson.hang %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-pane-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="mb-4">3 đánh giá sản phẩm</h4>
                                        <div class="media mb-4">
                                            <img src="https://www.giahuystore.com/img/user1.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                            <div class="media-body">
                                                <h6>Trần Tiến Hưng<small> - <i>25.06.2024</i></small></h6>
                                                <div class="text-primary mb-2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <p>Đây là một cửa hàng uy tín. Tôi đã mua 11 Pro Max vào 3 năm trước và bây giờ tôi phải tìm lại đây để đổi 14 Pro Max.</p>
                                            </div>
                                        </div>
                                        <div class="media mb-4">
                                            <img src="https://www.giahuystore.com/img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                            <div class="media-body">
                                                <h6>Nguyễn Thúy Nga<small> - <i>20.06.2024</i></small></h6>
                                                <div class="text-primary mb-2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <p>Rất mê nhân viên ở đây nha, tư vấn đúng trọng tâm mình cần ❤❤❤</p>
                                            </div>
                                        </div>
                                        <div class="media mb-4">
                                            <img src="https://www.giahuystore.com/img/user2.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                            <div class="media-body">
                                                <h6>Nguyễn Hoàng Trà<small> - <i>15.05.2024</i></small></h6>
                                                <div class="text-primary mb-2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <p>Tuy mua đã 1 năm nhưng gia vẫn được hỗ trợ bảo hành miễn phí. Đúng Shop đỉnh ạ 🤞</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="mb-4">Để lại đánh giá</h4>
                                        <small>Địa chỉ email của bạn sẽ không được công bố. Các trường bắt buộc được đánh dấu *</small>
                                        <div class="d-flex my-3">
                                            <p class="mb-0 mr-2">Chấm sao * :</p>
                                            <div class="text-primary">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                        <form>
                                            <div class="form-group">
                                                <label for="message">Đánh giá của bạn *</label>
                                                <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Tên của bạn *</label>
                                                <input type="text" class="form-control" id="name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email của bạn *</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group mb-0">
                                                <input type="submit" value="Gửi đánh giá" class="btn btn-primary px-3">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Detail End -->


        <!-- Products Start -->
        <div class="container-fluid py-3" style="padding-left: 2%; padding-right: 2%;">
            <h2 class="section-title1 position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Blog</span></h2>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <% listBl.forEach((item)=> { %>

                            <div class="product-item bg-light" style="height: 350px;">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-80" src="<%= item.img_blog %>" alt="" style="max-height: 300px">
                                </div>
                                <div class="text-center py-4 overflow-hidden ">
                                    <a class="h6 text-decoration-none text-truncate " href="/contentBlog/<%= encodeURIComponent(item.tieude_blog).replace(/%20/g, '-')%>" style=" word-wrap: break-word;
                                    white-space: normal;
                                    max-width: 100%; /* hoặc giá trị khác phù hợp */;">
                                        <%= item.tieude_blog %>
                                    </a>
                                </div>
                            </div>
                            <% }); %>

                    </div>
                </div>
            </div>
        </div>
        <!-- Products End -->


        <!-- Footer Start -->
        <%- include('footer') %>
            <!-- Footer End -->


            <!-- Back to Top -->
            <a href="# " class="btn btn-primary back-to-top "><i class="fa fa-angle-double-up "></i></a>
            <div class="sticky-buttons">
                <a href="https://www.facebook.com/messages/t/111039721823629" class="btn btn-square mb-5"><img class="anhfacezalo" id="fanpageButton" src="/img/mess.png" alt=""></a>
                <a href="#" class="btn btn-square mb-5" onclick="makeCall()"> <img class="anhfacezalo" src="/img/phone2.png" alt=""></a>
            </div>


            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js "></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js "></script>
            <script src="https://www.giahuystore.com/lib/easing/easing.min.js "></script>
            <script src="https://www.giahuystore.com/lib/owlcarousel/owl.carousel.min.js "></script>

            <!-- Contact Javascript File -->
            <script src="https://www.giahuystore.com/mail/jqBootstrapValidation.min.js "></script>
            <script src="https://www.giahuystore.com/mail/contact.js "></script>

            <!-- Template Javascript -->
            <script src="https://www.giahuystore.com/js/main.js"></script>
            <script src="https://www.giahuystore.com/js/jsdetail.js "></script>
</body>

</html>