<%- include('headerman.ejs') %>

    <div class="container">
        <h3>
            <a href="/main"><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/512/25/25694.png"></a> Cập nhật loại sản phẩm</h3>

        <form action="/putloaisp/<%= tensp._id %>" method="post">
            <form class="px-4 py-3">

                <label class="form-label">Tên sản phẩm</label>
                <input type="text" name="name" class="form-control" value="<%=tensp.name %>"><br>
                <label class="form-label">Màn hình</label>
                <input type="text" name="manhinh" class="form-control" value="<%=tensp.manhinh %>"><br>
                <label class="form-label">Chip</label>
                <input type="text" name="chip" class="form-control" value="<%=tensp.chip %>"><br>
                <label class="form-label">Ram</label>
                <input type="text" name="ram" class="form-control" value="<%=tensp.ram %>"><br>
                <label class="form-label">Dung lượng</label>
                <input type="text" name="dungluong" class="form-control" value="<%=tensp.dungluong %>"><br>
                <label class="form-label">Camera</label>
                <input type="text" name="camera" class="form-control" value="<%=tensp.camera %>"><br>
                <label class="form-label">Pin sạc</label>
                <input type="text" name="pinsac" class="form-control" value="<%=tensp.pinsac %>"><br>
                <label class="form-label">Cổng sạc</label>
                <input type="text" name="congsac" class="form-control" value="<%=tensp.congsac %>"><br>
                <label class="form-label">Hãng</label>
                <input type="text" name="hang" class="form-control" value="<%=tensp.hang %>"><br>
                <label class="form-label">Thông tin sản phẩm</label>
                <textarea type="text" name="thongtin" class="form-control" value="<%=tensp.thongtin %>"></textarea><br>
                <button type="submit" class="btn btn-danger">Cập nhật</button>
            </form>
        </form>
    </div>