<%- include('../include/header.ejs') %>

    <div class="container">
        <h3><a href="/main"><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/512/25/25694.png"></a> Cập
            nhật sản phẩm</h3>

        <form action="/updatechitietsp/<%= sp._id %>" method="post">
            <form class="px-4 py-3">

                <label class="form-label">Tên sản phẩm</label>
                <input type="text" name="name" class="form-control" value="<%=sp.name %>"><br>

                <label class="form-label">Giá</label>
                <input type="text" name="price" class="form-control" value="<%=sp.price %>"><br>

                <label class="form-label">Nội dung</label>
                <input type="text" name="content" class="form-control" value="<%=sp.content %>"><br>

                <button type="submit" class="btn btn-danger">Cập nhật</button>
            </form>
        </form>
    </div>