<%- include('headerman.ejs') %>

    <div class="container">
        <h2><img style="width: 35px;" src="https://cdn-icons-png.flaticon.com/512/13/13398.png"></a> Sản Phẩm</h2>
        <div class="row">


            <div class="row col-12 col-sm-4 col-md-12" style="height: 30px; text-align: center; margin-top: 10px;">
                <form class="search d-flex" role="search" action="/search" method="GET">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-light" type="submit">Search</button>
                </form>
                <div class="col-sm-4 col-md-2">
                    <a type="button" class="btn btn-danger" href="/getaddloaichitiet/<%= idsp %>">
                        ➕ Thêm loại chi tiết
                    </a>
                </div>

            </div>


        </div>

    </div>
    </div>
    <div class="container" style="margin-top: 40px;">
        <div class="col-1 col-sm-4 col-md-12">

            <table class="table table-bordered table-striped" style="text-align: center;">
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Giá bán</th>
                    <th></th>
                </tr>

                <% mangloai.forEach( ( row )=>{ %>

                    <tr>
                        <td>
                            <%= row._id%>
                        </td>
                        <td>
                            <a href="">
                                <%= row.name %>
                            </a>
                        </td>
                        <td>
                            <%= row.price %>
                        </td>

                        <td>
                            <a href="/geteditloaichitiet/<%= idsp %>/<%= row._id%>">
                                <button type="button" class="btn btn-light">Sửa</button>
                            </a>

                            <form action="/deleteloaichitiet/<%= idsp %>/<%= row._id%>" method="post" id="deleteForm">
                                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#deleteModal<%= row._id %>">
                                    Xóa
                                </button>

                                <div class="modal fade" id="deleteModal<%= row._id %>" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Chắc chắn muốn xóa?
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                                                <button type="submit" class="btn btn-primary">Có</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>

                    </tr>
                    <% } ) %>

            </table>

        </div>
    </div>

    <%- include('footerlogin.ejs') %>